.layout-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sidebar {
    flex: 1 2 20%;
    border-right: 1px solid red;

    textarea {
        resize: none;
    }

}

.main-zone {
    flex: 1 8 80%;
    padding: 2%;
}
